lab1/flows.json
[{"id":"46ed4f35.c5d58","type":"tab","label":"lab1","disabled":false,"info":""},{"id":"6a9cdc73.46eed4","type":"http in","z":"46ed4f35.c5d58","name":"","url":"/hello","method":"post","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["b8ab6329.fd213"]]},{"id":"b8ab6329.fd213","type":"function","z":"46ed4f35.c5d58","name":"","func":"msg.payload=\"hello\"+msg.payload.name\nreturn msg","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["c494022d.83148","833ee7fe.8032b8"]]},{"id":"c494022d.83148","type":"http response","z":"46ed4f35.c5d58","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"833ee7fe.8032b8","type":"debug","z":"46ed4f35.c5d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":300,"wires":[]}]