lab4/flows (1).json
[{"id":"20c26aff.5de9d6","type":"tab","label":"lab4","disabled":false,"info":""},{"id":"cd3a1728.e7ba68","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["3c677275.76533e"]]},{"id":"5e3af1aa.9ee4d","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["cc73c87c.0dae78"]]},{"id":"ba5719c8.b0b5c8","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["236fb89a.db8e58"]]},{"id":"3c677275.76533e","type":"oM2M-Descriptor-Container","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","x":400,"y":40,"wires":[["4f616e44.e055a"]]},{"id":"cc73c87c.0dae78","type":"oM2M-Descriptor-ContentInstance","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","obixType":"","obixLocation":"","x":400,"y":120,"wires":[["2d595632.83f26a"]]},{"id":"4f616e44.e055a","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":40,"wires":[["b0a89b8b.4052d8"]]},{"id":"2d595632.83f26a","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":120,"wires":[["e2ae896c.9bbc38"]]},{"id":"b0a89b8b.4052d8","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":60,"wires":[]},{"id":"e2ae896c.9bbc38","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":140,"wires":[]},{"id":"8ed6651a.ee1b48","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["fd66883b.81d278"]]},{"id":"236fb89a.db8e58","type":"oM2M-Data-Container","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","maxNrOfInstances":"10","obixAnnounce":false,"x":360,"y":200,"wires":[["546a2f8c.ce543"]]},{"id":"a250d829.135ae8","type":"oM2M-Data-ContentInstance","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","obixCategory":"","x":560,"y":300,"wires":[["fb723614.a391e8"]]},{"id":"fd66883b.81d278","type":"function","z":"20c26aff.5de9d6","name":"my data","func":"var data = {\ntype:'gps',\nunit:'float',\nlatitude: '1',\nlongitude: '2'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["a250d829.135ae8"]]},{"id":"546a2f8c.ce543","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":200,"wires":[["a557e33c.9b699"]]},{"id":"a557e33c.9b699","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"fb723614.a391e8","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":770,"y":300,"wires":[["f4cd5f55.dc7d4"]]},{"id":"f4cd5f55.dc7d4","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":320,"wires":[]},{"id":"4c1844dd.9268fc","type":"http in","z":"20c26aff.5de9d6","name":"","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["bcc2ad43.de2e9","d0b9364c.c60418"]]},{"id":"bcc2ad43.de2e9","type":"function","z":"20c26aff.5de9d6","name":"input data","func":"var data = {\ntype:'gps',\nunit:'float',\nlatitude: msg.payload.latitude,\nlongitude: msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["89dc92b1.3bdb8"]]},{"id":"89dc92b1.3bdb8","type":"oM2M-Data-ContentInstance","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","obixCategory":"","x":540,"y":400,"wires":[["afe1fd1.4d996"]]},{"id":"d0b9364c.c60418","type":"http response","z":"20c26aff.5de9d6","name":"","statusCode":"","headers":{},"x":300,"y":500,"wires":[]},{"id":"afe1fd1.4d996","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":420,"wires":[["b71aa0cc.45109"]]},{"id":"b71aa0cc.45109","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":440,"wires":[]},{"id":"bb6d954a.7bf8d8","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["3ec203a7.e77f8c"]]},{"id":"3ec203a7.e77f8c","type":"oM2M-Application","z":"20c26aff.5de9d6","xSCL":"f657ffe6.deaa9","xA":"240fcf39.0e95c","obixType":"","obixCategory":"","obixLocation":"","obixAnnounce":false,"x":350,"y":640,"wires":[["f5a14ae0.279c58"]]},{"id":"f5a14ae0.279c58","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":580,"y":640,"wires":[["be6e7296.795c2"]]},{"id":"be6e7296.795c2","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":660,"wires":[]},{"id":"1cf27ef7.f49431","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["a3fa3321.83c2f"]]},{"id":"a3fa3321.83c2f","type":"oM2M-Application","z":"20c26aff.5de9d6","xSCL":"c50535e1.b79428","xA":"493daf21.b4005","obixType":"","obixCategory":"","obixLocation":"","obixAnnounce":false,"x":330,"y":780,"wires":[["d69d765.b620588"]]},{"id":"d69d765.b620588","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":560,"y":780,"wires":[["764191b2.2e03e"]]},{"id":"764191b2.2e03e","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":800,"wires":[]},{"id":"20574cc8.177024","type":"inject","z":"20c26aff.5de9d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["d108f9cb.8eab78"]]},{"id":"34df9183.7d6e6e","type":"http request","z":"20c26aff.5de9d6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":560,"y":880,"wires":[["c571ce49.39ee1"]]},{"id":"c571ce49.39ee1","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":900,"wires":[]},{"id":"d108f9cb.8eab78","type":"oM2M-Subscription","z":"20c26aff.5de9d6","xSCL":"c50535e1.b79428","xA":"4ac7ce7.cf0593","contactPath":"/notification","filterType":"","filterCriteria":"content","x":330,"y":880,"wires":[["34df9183.7d6e6e"]]},{"id":"e941be7f.2e891","type":"http in","z":"20c26aff.5de9d6","name":"listen to post","url":"/notifacation","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1040,"wires":[["6c114f08.d3479","45fb183.73c8ee8"]]},{"id":"6c114f08.d3479","type":"xml","z":"20c26aff.5de9d6","name":"","property":"payload","attr":"","chr":"","x":340,"y":1040,"wires":[["97a3e226.4effe"]]},{"id":"97a3e226.4effe","type":"function","z":"20c26aff.5de9d6","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1040,"wires":[["52c02553.932adc","a2fc4fe9.24e49"]]},{"id":"52c02553.932adc","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1040,"wires":[]},{"id":"45fb183.73c8ee8","type":"http response","z":"20c26aff.5de9d6","name":"","statusCode":"","headers":{},"x":350,"y":1140,"wires":[]},{"id":"a2fc4fe9.24e49","type":"file","z":"20c26aff.5de9d6","name":"","filename":"C:\\Users\\User\\Desktop","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":1180,"wires":[[]]},{"id":"b84b443e.198708","type":"http in","z":"20c26aff.5de9d6","name":"","url":"/sensor","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1280,"wires":[["7f7baee5.cbead"]]},{"id":"b5955f5e.8f1e9","type":"xml","z":"20c26aff.5de9d6","name":"","property":"payload","attr":"","chr":"","x":560,"y":1280,"wires":[["63263f54.2e30c"]]},{"id":"7f7baee5.cbead","type":"file in","z":"20c26aff.5de9d6","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1280,"wires":[["b5955f5e.8f1e9"]]},{"id":"63263f54.2e30c","type":"http response","z":"20c26aff.5de9d6","name":"","statusCode":"","headers":{},"x":810,"y":1280,"wires":[]},{"id":"7ba70e91.3b6a5","type":"http in","z":"20c26aff.5de9d6","name":"GET na locations","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1480,"wires":[["bbac54a6.040878"]]},{"id":"bbac54a6.040878","type":"file","z":"20c26aff.5de9d6","name":"OM2M_xml","filename":"C:/Users/User/Desktop/OM2M.xml","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":370,"y":1480,"wires":[["a736a12e.a2bc8"]]},{"id":"a736a12e.a2bc8","type":"xml","z":"20c26aff.5de9d6","name":"","property":"payload","attr":"","chr":"","x":630,"y":1480,"wires":[["120c7be0.250a34"]]},{"id":"120c7be0.250a34","type":"function","z":"20c26aff.5de9d6","name":"parse xml","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = {\n\"latitude\":latitude,\n\"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1480,"wires":[["a786e5af.ce7398","eb7ae49c.c3ed08"]]},{"id":"a786e5af.ce7398","type":"http response","z":"20c26aff.5de9d6","name":"","statusCode":"","headers":{},"x":960,"y":1480,"wires":[]},{"id":"eb7ae49c.c3ed08","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":1560,"wires":[]},{"id":"b346ab06.8b9a18","type":"http in","z":"20c26aff.5de9d6","d":true,"name":"GET na locations","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1600,"wires":[["b3aec1b6.920a"]]},{"id":"b3aec1b6.920a","type":"http request","z":"20c26aff.5de9d6","d":true,"name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/CI_227034702","tls":"","persist":false,"proxy":"","authType":"basic","x":400,"y":1600,"wires":[["7714ec7e.cab4d4"]]},{"id":"7714ec7e.cab4d4","type":"debug","z":"20c26aff.5de9d6","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":1620,"wires":[]},{"id":"890e6e4a.2b17a","type":"http in","z":"20c26aff.5de9d6","name":"listen to post","url":"/notifacation","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1700,"wires":[["13ca5ef.80174a1","478d614f.f2d07"]]},{"id":"13ca5ef.80174a1","type":"xml","z":"20c26aff.5de9d6","name":"","property":"payload","attr":"","chr":"","x":320,"y":1700,"wires":[["b7020e7e.aa017"]]},{"id":"b7020e7e.aa017","type":"function","z":"20c26aff.5de9d6","name":"extract data from xml","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1700,"wires":[["571231c3.02709","cf172fbf.41d7a"]]},{"id":"571231c3.02709","type":"debug","z":"20c26aff.5de9d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1680,"wires":[]},{"id":"478d614f.f2d07","type":"http response","z":"20c26aff.5de9d6","name":"","statusCode":"","headers":{},"x":330,"y":1800,"wires":[]},{"id":"cf172fbf.41d7a","type":"file","z":"20c26aff.5de9d6","name":"","filename":"C:\\Users\\User\\Desktop\\OM2M.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":880,"y":1840,"wires":[[]]},{"id":"f657ffe6.deaa9","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"240fcf39.0e95c","type":"xA","z":"","appId":"Lamp 1","contactUrl":"localhost:1880"},{"id":"c50535e1.b79428","type":"xSCL","z":"","sclId":"http://127.0.0.1","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"493daf21.b4005","type":"xA","z":"","appId":"LOCATION_NETWORK_APPLICATION","contactUrl":"localhost:1880"},{"id":"4ac7ce7.cf0593","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]
