lab5/flows (2).json
[{"id":"4fdf3c5b.b57254","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f563b512.a99768","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/lamp0/on","method":"post","upload":false,"swaggerDoc":"","x":140,"y":800,"wires":[["e3b9628b.740fc"]]},{"id":"c993f8ba.7fb258","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":770,"y":800,"wires":[["d52c0660.704dd8"]],"outputLabels":["\"\""]},{"id":"d52c0660.704dd8","type":"debug","z":"4fdf3c5b.b57254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":800,"wires":[]},{"id":"3bb9ac2.1629554","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/lamp0/off","method":"post","upload":false,"swaggerDoc":"","x":140,"y":900,"wires":[["c7a2ba9a.d09eb8"]]},{"id":"d154eb61.9f12a8","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":770,"y":900,"wires":[["b90d7cd8.0bbae"]]},{"id":"b90d7cd8.0bbae","type":"debug","z":"4fdf3c5b.b57254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":900,"wires":[]},{"id":"5eb76dc.5fbf594","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/lamp1/on","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1000,"wires":[["1f4d3498.76c6bb"]]},{"id":"9d831443.2cfd58","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":770,"y":1000,"wires":[["6b81fbe8.6828d4"]]},{"id":"6b81fbe8.6828d4","type":"debug","z":"4fdf3c5b.b57254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":1000,"wires":[]},{"id":"69df5140.51abb","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/lamp1/off","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["e45cdad0.85aee8"]]},{"id":"3841aa75.05c186","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":1100,"wires":[["60198063.ae8e5"]]},{"id":"60198063.ae8e5","type":"debug","z":"4fdf3c5b.b57254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":1100,"wires":[]},{"id":"e3b9628b.740fc","type":"change","z":"4fdf3c5b.b57254","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":800,"wires":[["c993f8ba.7fb258"]]},{"id":"c7a2ba9a.d09eb8","type":"change","z":"4fdf3c5b.b57254","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[["d154eb61.9f12a8"]]},{"id":"1f4d3498.76c6bb","type":"change","z":"4fdf3c5b.b57254","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[["9d831443.2cfd58"]]},{"id":"e45cdad0.85aee8","type":"change","z":"4fdf3c5b.b57254","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1100,"wires":[["3841aa75.05c186"]]},{"id":"5fb0f670.d5bfa8","type":"inject","z":"4fdf3c5b.b57254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1540,"wires":[["620b86df.4a7b18"]]},{"id":"620b86df.4a7b18","type":"function","z":"4fdf3c5b.b57254","name":"sub","func":"msg.payload=\n'<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\"><om2m:filterCriteria><ifMatch>content</ifMatch></om2m:filterCriteria><om2m:contact>http://127.0.0.1:1880/LAB5_sub</om2m:contact></om2m:subscription>'\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1540,"wires":[["a7f9182a.545388","b1902fcd.215b3"]]},{"id":"a7f9182a.545388","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":1540,"wires":[["3a3543fb.d2e1ac"]]},{"id":"3a3543fb.d2e1ac","type":"debug","z":"4fdf3c5b.b57254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1540,"wires":[]},{"id":"b1902fcd.215b3","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":558,"y":1623,"wires":[["3a3543fb.d2e1ac"]]},{"id":"8bc6c0b.8ca524","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/LAB5_sub","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1700,"wires":[["2326d2a0.284cae","2c24502a.b4ae7"]]},{"id":"63deeb5c.689974","type":"function","z":"4fdf3c5b.b57254","name":"lamp 0","func":"var string = msg.payload.split(\"/\");\nvar str = string[string.length-3];\nstring=str.split('\"');\nstr=string[string.length-4];\nmsg.payload=str;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1700,"wires":[["27ef5cce.839204"]]},{"id":"27ef5cce.839204","type":"http response","z":"4fdf3c5b.b57254","name":"","statusCode":"","headers":{},"x":1110,"y":1700,"wires":[]},{"id":"2326d2a0.284cae","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":1700,"wires":[["63deeb5c.689974"]]},{"id":"8de39211.ade34","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/update1","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1840,"wires":[["8a8f13f8.fc4b6"]]},{"id":"8a8f13f8.fc4b6","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":1840,"wires":[["ad49f019.c14ec"]]},{"id":"ad49f019.c14ec","type":"function","z":"4fdf3c5b.b57254","name":"lamp 1","func":"var string = msg.payload.split(\"/\");\nvar str1 = string[string.length-3];\nstring=str1.split('\"');\nstr1=string[string.length-4];\nmsg.payload=str1;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1840,"wires":[["66cad631.1d9398"]]},{"id":"66cad631.1d9398","type":"http response","z":"4fdf3c5b.b57254","name":"","statusCode":"","headers":{},"x":1050,"y":1840,"wires":[]},{"id":"f1bca696.b33af8","type":"http in","z":"4fdf3c5b.b57254","name":"","url":"/update0","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1940,"wires":[["b4aa555a.1fc6f8"]]},{"id":"b4aa555a.1fc6f8","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":1940,"wires":[["3c0502f2.eba22e"]]},{"id":"3c0502f2.eba22e","type":"function","z":"4fdf3c5b.b57254","name":"lamp 0","func":"var string = msg.payload.split(\"/\");\nvar str1 = string[string.length-3];\nstring=str1.split('\"');\nstr1=string[string.length-4];\nmsg.payload=str1;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1940,"wires":[["aa88a444.a4e6b8"]]},{"id":"aa88a444.a4e6b8","type":"http response","z":"4fdf3c5b.b57254","name":"","statusCode":"","headers":{},"x":1030,"y":1940,"wires":[]},{"id":"2c24502a.b4ae7","type":"http request","z":"4fdf3c5b.b57254","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":1760,"wires":[["c2a2bda0.cceed"]]},{"id":"c2a2bda0.cceed","type":"function","z":"4fdf3c5b.b57254","name":"lamp 1","func":"var string = msg.payload.split(\"/\");\nvar str1 = string[string.length-3];\nstring=str1.split('\"');\nstr1=string[string.length-4];\nmsg.payload=str1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1760,"wires":[[]]}]