lab2/flows.json
[{"id":"370317f8.9f1908","type":"tab","label":"lab2","disabled":false,"info":""},{"id":"e6a39dd8.aada4","type":"http in","z":"370317f8.9f1908","name":"","url":"/locate","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["22456829.94bec8","ece22b83.619168"]]},{"id":"22456829.94bec8","type":"function","z":"370317f8.9f1908","name":"","func":"msg='asdsd'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["1b8820ba.404d0f"]]},{"id":"1b8820ba.404d0f","type":"debug","z":"370317f8.9f1908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":80,"wires":[]},{"id":"ece22b83.619168","type":"debug","z":"370317f8.9f1908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":260,"wires":[]},{"id":"e274c0a5.aa0c7","type":"http in","z":"370317f8.9f1908","name":"","url":"/locate/groupid","method":"get","upload":false,"swaggerDoc":"","x":190,"y":400,"wires":[["bd8b0cb1.c2b87","6f0920ed.0c5d4"]]},{"id":"bd8b0cb1.c2b87","type":"function","z":"370317f8.9f1908","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["d9d1845c.5d70d8","37261b9c.507064"]]},{"id":"d9d1845c.5d70d8","type":"http response","z":"370317f8.9f1908","name":"","statusCode":"","headers":{},"x":760,"y":440,"wires":[]},{"id":"37261b9c.507064","type":"debug","z":"370317f8.9f1908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":520,"wires":[]},{"id":"6f0920ed.0c5d4","type":"debug","z":"370317f8.9f1908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":540,"wires":[]}]