lab3/flows.json
[{"id":"1b28d17f.686d7f","type":"tab","label":"lab3","disabled":true,"info":""},{"id":"7d8c719f.8efa4","type":"inject","z":"1b28d17f.686d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["9bdb0650.d2d918"]]},{"id":"9bdb0650.d2d918","type":"oM2M-Application","z":"1b28d17f.686d7f","xSCL":"f657ffe6.deaa9","xA":"b25646dd.cfe828","obixType":"","obixCategory":"GatewayApplication","obixLocation":"NCTU","obixAnnounce":false,"x":300,"y":120,"wires":[["605b9dfd.72d744"]]},{"id":"605b9dfd.72d744","type":"http request","z":"1b28d17f.686d7f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":480,"y":120,"wires":[["a5753f81.ea45b"]]},{"id":"a5753f81.ea45b","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":120,"wires":[]},{"id":"1485edb6.be6d82","type":"inject","z":"1b28d17f.686d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":260,"wires":[["51a936e0.c93638"]]},{"id":"51a936e0.c93638","type":"oM2M-Descriptor-Container","z":"1b28d17f.686d7f","xSCL":"c50535e1.b79428","xA":"b25646dd.cfe828","x":320,"y":260,"wires":[["4936c93f.5ed038"]]},{"id":"90fb8c3.f5fe17","type":"oM2M-Descriptor-ContentInstance","z":"1b28d17f.686d7f","xSCL":"c50535e1.b79428","xA":"b25646dd.cfe828","obixType":"","obixLocation":"","x":640,"y":360,"wires":[["d3993cf7.a05fa"]]},{"id":"3774fc10.0d4bb4","type":"inject","z":"1b28d17f.686d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":360,"wires":[["c0f23f9b.97449","710450ad.f2231"]]},{"id":"4936c93f.5ed038","type":"http request","z":"1b28d17f.686d7f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":620,"y":260,"wires":[["a509ca7f.a7dbd8"]]},{"id":"d3993cf7.a05fa","type":"http request","z":"1b28d17f.686d7f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":890,"y":360,"wires":[["ded3bc5a.214b7"]]},{"id":"a509ca7f.a7dbd8","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"ded3bc5a.214b7","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":360,"wires":[]},{"id":"c0f23f9b.97449","type":"function","z":"1b28d17f.686d7f","name":"my_data","func":"var data = {\ntype:'string',\nunit:'test data',\ndata: 'Hello World!'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["90fb8c3.f5fe17"]]},{"id":"710450ad.f2231","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":290,"y":460,"wires":[]},{"id":"f33a975b.a29248","type":"http in","z":"1b28d17f.686d7f","name":"post sensor data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["d7751f88.28f6a","2c8ebdc7.c6d872"]]},{"id":"d7751f88.28f6a","type":"function","z":"1b28d17f.686d7f","name":"fake data","func":"var data = {\ntype:'string',\nunit:'fake data',\ndata: msg.payload.name\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["93b74a5f.879248"]]},{"id":"93b74a5f.879248","type":"oM2M-Data-ContentInstance","z":"1b28d17f.686d7f","xSCL":"c50535e1.b79428","xA":"b25646dd.cfe828","obixCategory":"","x":560,"y":540,"wires":[["341a1ef4.7d58d2"]]},{"id":"341a1ef4.7d58d2","type":"http request","z":"1b28d17f.686d7f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":840,"y":540,"wires":[["fbed776c.33f7e8"]]},{"id":"fbed776c.33f7e8","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":560,"wires":[]},{"id":"2c8ebdc7.c6d872","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":290,"y":600,"wires":[]},{"id":"4d3d174e.232158","type":"inject","z":"1b28d17f.686d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":720,"wires":[["958b572e.997498"]]},{"id":"958b572e.997498","type":"oM2M-Application","z":"1b28d17f.686d7f","xSCL":"c50535e1.b79428","xA":"4ac7ce7.cf0593","obixType":"network application","obixCategory":"demo","obixLocation":"internet cloud","obixAnnounce":false,"x":300,"y":720,"wires":[["77bba524.224d1c"]]},{"id":"77bba524.224d1c","type":"http request","z":"1b28d17f.686d7f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":540,"y":720,"wires":[["f217af3.5aa725"]]},{"id":"f217af3.5aa725","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":720,"wires":[]},{"id":"39166c80.050564","type":"inject","z":"1b28d17f.686d7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[["1b86d219.a68a4e"]]},{"id":"82adf3bd.eed5f","type":"http request","z":"1b28d17f.686d7f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":860,"wires":[["d5f46464.df33a8"]]},{"id":"d5f46464.df33a8","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":860,"wires":[]},{"id":"1b86d219.a68a4e","type":"oM2M-Subscription","z":"1b28d17f.686d7f","xSCL":"c50535e1.b79428","xA":"4ac7ce7.cf0593","contactPath":"/notification","filterType":"","filterCriteria":"content","x":270,"y":860,"wires":[["82adf3bd.eed5f"]]},{"id":"89270628.01ac58","type":"http in","z":"1b28d17f.686d7f","name":"listen to post","url":"/notifacation","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["3134a6ee.43f5ca","212e69ed.e6e116"]]},{"id":"3134a6ee.43f5ca","type":"xml","z":"1b28d17f.686d7f","name":"","property":"payload","attr":"","chr":"","x":290,"y":1000,"wires":[["d798718f.01c8e"]]},{"id":"d798718f.01c8e","type":"function","z":"1b28d17f.686d7f","name":"extract data from xml","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1000,"wires":[["12fa71ca.312f4e","2104422a.3740ce"]]},{"id":"12fa71ca.312f4e","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1000,"wires":[]},{"id":"212e69ed.e6e116","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":300,"y":1100,"wires":[]},{"id":"2104422a.3740ce","type":"file","z":"1b28d17f.686d7f","name":"","filename":"C:/Users/User/Desktop/OM2M.xml","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":850,"y":1140,"wires":[[]]},{"id":"126dea42.aa8a26","type":"http in","z":"1b28d17f.686d7f","name":"","url":"/sensor","method":"post","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["48a1f542.e42bdc"]]},{"id":"cdf28a8f.7813a8","type":"xml","z":"1b28d17f.686d7f","name":"","property":"payload","attr":"","chr":"","x":490,"y":1480,"wires":[["f80fe129.de901"]]},{"id":"48a1f542.e42bdc","type":"file in","z":"1b28d17f.686d7f","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":1480,"wires":[["cdf28a8f.7813a8"]]},{"id":"f80fe129.de901","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":740,"y":1480,"wires":[]},{"id":"50fdec61.3220f4","type":"http in","z":"1b28d17f.686d7f","name":"GET na locations","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1300,"wires":[["41e66083.2037c"]]},{"id":"41e66083.2037c","type":"file","z":"1b28d17f.686d7f","name":"","filename":"C:\\Users\\User\\Desktop","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":290,"y":1300,"wires":[["fd6f57d8.ec37e8"]]},{"id":"fd6f57d8.ec37e8","type":"xml","z":"1b28d17f.686d7f","name":"","property":"payload","attr":"","chr":"","x":510,"y":1300,"wires":[["27a39737.2e5888"]]},{"id":"27a39737.2e5888","type":"json","z":"1b28d17f.686d7f","name":"","property":"payload","action":"","pretty":false,"x":620,"y":1300,"wires":[["91261298.44581"]]},{"id":"91261298.44581","type":"function","z":"1b28d17f.686d7f","name":"","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = {\n\"latitude\":latitude,\n\"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1300,"wires":[["98542c5e.0b91","8fe9670d.a6d148"]]},{"id":"98542c5e.0b91","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":890,"y":1300,"wires":[]},{"id":"8fe9670d.a6d148","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1380,"wires":[]},{"id":"2a6f0b2e.f585f4","type":"http in","z":"1b28d17f.686d7f","name":"GET na locations","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1600,"wires":[["aad31df1.a1d22"]]},{"id":"aad31df1.a1d22","type":"file","z":"1b28d17f.686d7f","name":"","filename":"C:\\Users\\User\\Desktop","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":270,"y":1600,"wires":[["601b77c1.ee2758"]]},{"id":"601b77c1.ee2758","type":"xml","z":"1b28d17f.686d7f","name":"","property":"payload","attr":"","chr":"","x":490,"y":1600,"wires":[["74b7417d.89e52"]]},{"id":"74b7417d.89e52","type":"json","z":"1b28d17f.686d7f","name":"","property":"payload","action":"","pretty":false,"x":600,"y":1600,"wires":[["5730624.b90299c"]]},{"id":"5730624.b90299c","type":"function","z":"1b28d17f.686d7f","name":"","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = {\n\"latitude\":latitude,\n\"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1600,"wires":[["3b708496.2e85cc","6d23e2a6.d3da4c"]]},{"id":"3b708496.2e85cc","type":"http response","z":"1b28d17f.686d7f","name":"","statusCode":"","headers":{},"x":870,"y":1600,"wires":[]},{"id":"6d23e2a6.d3da4c","type":"debug","z":"1b28d17f.686d7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1680,"wires":[]},{"id":"f657ffe6.deaa9","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"b25646dd.cfe828","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"},{"id":"c50535e1.b79428","type":"xSCL","z":"","sclId":"http://127.0.0.1","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"4ac7ce7.cf0593","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]
